{{ form_start(form, {'action': path('news_store'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button class="my-3 btn btn-sm btn-light btn-outline-dark">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
