{% extends 'base.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h1>Редактировать новость</h1>

    {{ include('news/admin/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <div class="mb-5">
        <a class="btn btn-sm btn-light btn-outline-dark" href="{{ path('admin_show_news', {'id': news.id}) }}">Назад</a>
    </div>
{% endblock %}